body {
  background: #b460df;
  }

h1 {
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

img {
  width: 20rem;
  padding: 20px;
  display: block;
  margin: auto;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  background-color: #676264;
  padding: 20px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #2E282A;
}

.btn a {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 0 4px #2E282A;
  top: 2px;
}

.btn:active {
  box-shadow: none;
  top: 6px;
}